<h1>Editing comment - <%= link_to @comment.post.title, permalink_path(@comment.post) %></h1>

<form accept-charset="UTF-8" action="<%= admin_comment_path(@comment) %>" method="post" id="new_comment" class="box">
  <%= errors_for @comment %>
  <input type="hidden" name="_method" value="<%= @comment.id ? 'put' : 'post' %>" />
  <p>
    <label for="comment_author">Author</label><br />
    <input id="comment_author" maxlength="255" size="50" name="comment[author]" type="text" value="<%= @comment.author %>" autofocus="autofocus">
  </p>

  <p>
    <label for="comment_author_email">Author email</label><br />
    <input id="comment_author_email" maxlength="255" size="50" name="comment[author_email]" type="text" value="<%= @comment.author_email %>">
  </p>

  <p>
    <label for="comment_author_url">Author URL</label><br />
    <input id="comment_author_url" maxlength="255" size="50" name="comment[author_url]" type="text" value="<%= @comment.author_url %>">
  </p>

  <p>
    <label for="comment_body">Body</label><br />
    <textarea id="comment_body" name="comment[body]" cols="90" rows="20"><%= @comment.body %></textarea><br />
    <span class="light"><a href="http://textile.thresholdstate.com/">Textile enabled</a>. <input type="button" id="show_preview" data-preview-src="#comment_body" value="Preview" /></span>
  </p>

  <p><input type="submit" value="Save Comment" /> or <a href="/admin/comments">cancel</a></p>
</form>

<script>
  $(function() {
    bind_textile_preview('#show_preview')
  })
</script>
