<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0" />
    <title>Admin / <%= Conf[:title] %></title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= tag 'script', '', :src => '/javascripts/lib.js', :invalidate => :src %>
    <%= tag 'script', '', :src => '/javascripts/admin.js', :invalidate => :src %>

    <%= tag 'link', nil, :href => '/stylesheets/admin.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css', :invalidate => :href %>
  </head>

  <body>
    <header>
      <ul id="nav" class="shiny">
      <% if signed_in? %>
      <% nav.each do |title, path, selected| %>
        <li><a href="<%= path %>"<%= ' class="selected"' if selected %>><%= title %></a></li>
      <% end %>
        <li>&nbsp;</li>
      <% end %>
        <li><a href="/">View Site</a></li>
      </ul>
    </header>

    <div id="main">
<%= yield %>
    </div>

    <div id="overlay" class="overlay">
      <div class="contentWrap"></div>
    </div>
  </body>
</html>
