<h1>Your posts</h1>

<div class="box">
<% if @posts.any? %>
  <table>
    <tr class="shiny">
      <th>Title</th>
      <th>Excerpt</th>
      <th>Published</th>
      <% unless Conf[:disqus] %>
      <th>Comments</th>
      <% end %>
      <th></th>
    </tr>

  <% today = Date.today %>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, permalink_path(post) %></td>
      <td><%= h post.blurb %></td>
      <td class="light"><%= post.published_at.strftime("%b %e#{', %Y' unless post.published_at.year == today.year}") %></td>
      <% unless Conf[:disqus] %>
      <td><%= post.comments_count %></td>
      <% end %>
      <td>
        <%= link_to icon_tag(:edit), admin_post_path(post) %>
        <%= link_to icon_tag(:delete), admin_post_path(post), :method => :delete, :confirm => "Are you sure you want to delete #{post.title}" %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <em class="light">You have not created any posts</em>
<% end %>
</div>
