<article class="post">
  <header>
    <h2><%= link_to post.title, permalink_path(post) %></h2>
    <span class="meta">
      <%= post.published_at.strftime('%B %e, %Y') %>
      | <%= post.tag_list.map { |tag| link_to tag, "/#{tag}" }.join(', ') %> <%= '|' unless post.tag_list.empty? %>
      <%= post.comments.count %> comments
    </span>
  </header>

  <section class="content">
    <%= post.body_html %>
  </section>
</article>
