  <article class="post<%= ' teaser' if defined?(teaser) and teaser %>">
    <header>
      <h2><%= link_to post.title, permalink_path(post) %></h2>
      <span class="meta">
        <%= post.published_at.strftime('%B %e, %Y') %> <%= '|' unless post.tag_list.empty? %>
        <%= post.tag_list.map { |tag| link_to tag, "/#{tag}" }.join(', ') %>
      </span>
    </header>

    <section class="content">
      <% content_method = (defined?(teaser) and teaser and post.teaser?) ? :teaser_html : :body_html %>
      <%= post.send(content_method) %>
    </section>
  </article>
