<%= erb :"posts/_show", :locals => {:post => @post} %>

<% if @post.comments.count > 0 %>
  <% dtfmt = '%B %e, %Y at %I:%M %P' %>
  <h3>Comments</h3>

  <% @post.comments.all(:order => :created_at).each do |comment| %>
  <div class="box">
    <a name="comment-<%= comment.id %>"></a>
    <p>
      <strong><%= h comment.author %></strong> says:<br/>
      <small class="light"><%= comment.created_at.strftime(dtfmt) %></small>
    </p>
    <%= comment.body_html %>
  </div>
  <% end %>
<% end %>

<h3>Post a Comment</h3>
<%= erb :"posts/_new_comment", :locals => {:post => @post} %>
