<%= erb :"posts/_show", :locals => {:post => @post} %>

<a name="comments"></a>
<% if @post.comments.count > 0 %>
  <% dtfmt = '%B %e, %Y at %I:%M %P' %>
  <h3>Comments</h3>

  <% @post.comments.all(:order => :created_at).each do |comment| %>
  <div class="comment">
    <a name="comment-<%= comment.id %>"></a>
    <p>
      <strong><%= comment.author_url ? tag('a', h(comment.author), :href => comment.author_url) : h(comment.author) %></strong><br/>
      <small class="meta"><%= comment.created_at.strftime(dtfmt) %></small>
    </p>
    <%= comment.body_html %>
  </div>
  <% end %>
<% end %>

<h3>Post a Comment</h3>
<%= erb :"posts/_new_comment", :locals => {:post => @post} %>

<script type="text/javascript">watch_for_live_previews()</script>
